---
title: 'Private Non-profit Cultural Establishment (PNCE) Sistema Gallery'
---
<div class="row">
<div class="col-md-offset-3 col-xs-6" style="text-align: center;">
    <p>&nbsp;</p>
    <h1>Private Non-profit Cultural Establishment (PNCE) Sistema Gallery</h1>
    <p>presents </p>
    <p>CYCLE OF WORKS</p>
    <p><b>VITA NOVA</b></p>
    <p>BY COMPOSER </p>
    <p><b>VLADIMIR MARTYNOV</b></p>
    <p>19.04 WHAT IS MUSIC?</p>
    <p>26.04 ALICE TIME</p>
    <p>17.05 OPUS POSTH</p>
    <p>31.05 PASSIONATE SONGS WITH OPUS POSTH DIRECTED BY TATIANA GRINDENKO</p>
    <p>03.07 Concert - Zone of Opus Posth</p>
    <p>In the new season Sistema Gallery continues the cycle Vita Nova in Milyutin pereulok in the old Tower of the First Moscow Phone Station.</p>
    <p><a href="/projects/view/section/event/15">13.09 Celebrating anniversary of John Cage with concert of American ensemble headed by Alan Feinberg</a></p>
    <p><b><a href="/projects/view/section/event/23">25.10 Presentation of Vita Nova opera with Vladimir Martynov and Vladimir Yurovsky</a></b><br />
<a href="http://www.youtube.com/watch?v=yy6bFwxIV3w&feature=relmfu">Video</a></p>
    <p>The cycle is devoted to issues of development of spaces of contemporary art, music culture and their prospects in future. All meetings will include topical artistic expositions of contemporary artists the pictures of whom can be purchased in the end of events at the auction. The proceeds will be forwarded by Sistema Gallery to staging of opera New Life by Martynov in Moscow. All concerts will be video and audio-recorded; all records will appear at our website in Music section. Sistema Gallery invites all interested to participate in creation of new music and artistic space. All concerts of contemporary academic music will be held at the experimental venue located at the address: Miluytinsky pereulok, 5/1.</p>
    <p>Sistema Gallery organizes all concerts with support of JSFC Sistema Corporation..</p>
    <p>&nbsp;</p>

</div>
</div>
